@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@300&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
  background-color: hsl(291, 67%, 87%) !important;
}
.edit-img{
    height: 50%;
    width: 50%;
}
.view-img{
    height: 60%;
    width: 60%;
    border-radius: 50%;
}